{% if (ctx.component.type !== 'radio' && ctx.component.type !== 'checkbox') { %}
  <label class="{{ ctx.label.className }}">
    <b>{{ ctx.t([`${ctx.component.key}_label`, ctx.component.label]) }}</b>
    {% if (ctx.component.tooltip) { %}
      <i ref="tooltip" class="{{ ctx.iconClass('question-sign') }} text-muted"></i>
    {% } %}
  </label>
{% } %}
