{% if (!ctx.component.hideLabel && ['address', 'button', 'checkbox', 'radio', 'selectboxes'].indexOf(ctx.component.type) === -1) { %}
  <label
    class="{{ ctx.label.className }}"
    for="{{ ctx.inputId() }}">
    {{ ctx.t([`${ctx.component.key}_label`, ctx.component.label]) }}
  </label>
{% } %}
