{% const visible = ctx.component.properties.visible !== "false" %}
<section ref="{{ ctx.nestedKey }}" class="well{{ visible ? ' bg-blue-1 round-1 p-2' : '' }}">
  {% if (ctx.component.properties.showLabel !== "false") { %}
    {% const label = ctx.tk('label') %}
    {% if (label) { %}
      <h2 class="h4 my-0" id="label-{{ ctx.id }}">
        {{ label }}
      </h2>
    {% } %}
  {% } %}

  {% const desc = ctx.tk('description') %}
  {% if (desc) { %}
    <div class="mb-1">{{ desc }}</div>
  {% } %}

  {{ ctx.children }}
</section>
