{% const visible = ctx.component.properties.visible !== "false" %}
<section ref="{{ ctx.nestedKey }}" class="well{{ visible ? ' bg-blue-1 round-1 p-2' : '' }}">
  {% if (String(ctx.component.properties.hideLabel) !== "true") { %}
    {% const label = ctx.tk('label') %}
    {% if (label) { %}
      <h2 class="h4 my-0">
        {{ label }}
      </h2>
    {% } %}
  {% } %}

  {% const desc = ctx.tk('description') %}
  {% if (desc) { %}
    <div class="{{ visible ? '' : 'fg-light-slate ' }}mb-1">{{ desc }}</div>
  {% } %}

  {{ ctx.children }}
</section>
