{% const visible = ctx.component.properties.visible !== "false" %}
<div ref="{{ ctx.nestedKey }}" class="formio-component{% if (visible) { %} formio-component-well bg-blue-1 p-2 round-1{% } %}">
  {% const desc = ctx.tk('description') %}
  {% if (desc) { %}
    <div class="mb-1">{{ desc }}</div>
  {% } %}

  {{ ctx.children }}
</div>
