{% var visible = ctx.component.properties.visible !== "false" %}
<div ref="{{ ctx.nestedKey }}" class="formio-component{% if (visible) { %} formio-component-well bg-blue-1 p-2 round-1{% } %}">
  {% var desc = ctx.t([`${ctx.component.key}.description`, `${ctx.component.key}_description`, ctx.component.description]) %}
  {% if (desc) { %}
    <p class="description mt-0 mb-1">{{ desc }}</p>
  {% } %}
  {{ ctx.children }}
</div>
