{{ ctx.labelMarkup }}

{{ ctx.element }}

{% var description = ctx.component.description %}
{% if (description) { %}
  <div class="field-description">{{ ctx.t(description) }}</div>
{% } %}
{% if (ctx.component.type !== 'checkbox') { %}
  {% var tooltip = ctx.component.tooltip %}
  {% if (tooltip) { %}
    <div class="tooltip">{{ ctx.t(tooltip) }}</div>
  {% } %}
{% } %}
