{{ ctx.labelMarkup }}

{{ ctx.element }}

{% var description = ctx.component.description || ctx.component.tooltip %}
{% if (description) { %}
  <div class="fg-slate-65">{{ ctx.t(description) }}</div>
{% } %}
