{{ ctx.labelMarkup }}

{{ ctx.element }}

{% var description = ctx.t([`${ctx.component.key}_description`, ctx.component.description]) %}
{% if (description) { %}
  <div class="field-description">
    {{ description }}
  </div>
{% } %}

<!--
{% if (ctx.component.type !== 'checkbox') { %}
  {% var tooltip = ctx.t([`${ctx.component.key}_tooltip`, ctx.component.tooltip]) %}
  {% if (tooltip) { %}
    <div class="tooltip">{{ tooltip }}</div>
  {% } %}
{% } %}
-->
