fieldset {
  .fieldset-body {
    margin: 0 -15px 40px;
    padding: 15px 15px 1px;
    border-radius: radius(1);
  }

  label {
    font-size: 16px;
    line-height: 1;
  }

  .formio-component {
    margin-bottom: 20px;

    &.row {
      margin-bottom: 0;
    }
  }
}

.formio-component-radio {
  fieldset label {
    letter-spacing: 0;
    line-height: 24px;
  }
}
