fieldset {
  padding: 0.01em 0 0 0;
  border: 0;
  margin: 0;
  min-width: 0;

  legend {
    display: table;
    padding: 0;
    margin: 0;
  }
}

fieldset,
.well {
  * label {
    font-size: 16px;
  }

  .formio-component + .formio-component:not(.formio-hidden) {
    margin-top: spacer(2);
  }
}

.formio-component-radio {
  fieldset label {
    line-height: 24px;
  }
}
