.formio-component-file {
  table {
    width: 100%;
    margin: 0;

    th,
    td {
      background: transparent;
      padding: spacer(1);
      border: 0;

      &.size {
        width: 200px;
      }

      &.remove {
        width: 50px;
      }
    }

    th {
      display: none;
    }

    tr > * + * {
      padding-left: spacer(1);
    }

    td.filename,
    td.size {
      background-color: $green-1;
    }
  }
}

.status-error {
  border-radius: radius(1);
  padding: 5px 10px;
}

.fileSelector {
  border: border-width(1) dashed $grey-2;
  padding: spacer(2);

  &.fileDragOver {
    background-color: $blue-1;
    border-color: $grey-4;
  }
}
