.formio-component-file {
  table {
    width: 100%;
    margin: 0;

    th,
    td {
      background: transparent;
      padding: spacer(1);
      border: 0;

      &.size {
        width: 200px;
      }

      &.remove {
        width: 50px;
      }
    }

    // th {
    //   display: none;
    // }

    tr > * + * {
      padding-left: spacer(1);
    }
  }
}

.status-error {
  padding: (spacer(1) / 2) spacer(1);
}

.fileSelector {
  background: $white;
  border: border-width(1) dashed $grey-2;
  padding: spacer(2);

  &.fileDragOver {
    background-color: $blue-1;
    border-color: $grey-4;
  }
}
