// XXX there is no hook for this; it's in the JS
.control-label--hidden {
  display: none;
}

input:disabled,
select:disabled,
textarea:disabled {
  border-color: $grey-4 !important;
  background-color: $grey-1 !important;
}
