// XXX there is no hook for this; it's in the JS
.control-label--hidden {
  display: none;
}

// Custom review component
.review .col {display:flex;flex:100%}
.review div {flex:50%}
.review div.noData {flex:100%}
.review .header {flex:80%;font-size:1.5em;font-weight:500;padding:2rem 0 1rem 0;margin-top:2rem;border-top:2px solid #eee}
.review .edit {flex:20%;text-align:right;font-weight:500;padding:2rem 0 1rem 0;margin-top:2rem;border-top:2px solid #eee}
.review div.col:nth-child(1) .header, .review div.col:nth-child(1) .edit {border-top:0;margin-top:0;padding-top:0}
.review .field {font-size:.9em;color:#555;padding:.5rem 0}
.review .value {padding:.5rem 0}
.review .req {color:#c9563a}
.review .array:after {content:","}
.review .array:last-child:after {content:""}
