nav {
  @media (min-width: $mq-medium) {
    margin-top: 10rem;
    position: sticky;
    top: 170px;
    margin-right: 7rem;
  }

  span[data-icon] {
    margin-left: -30px;
    margin-top: 5px;
  }

  .back-link {
    font-size: 20px;
  }

  ul.panel-list {
    margin-left: 26px;
  }
}
