@import "./buttons";
@import "./choices";
@import "./file";
@import "./fieldsets";
@import "./inputs";
@import "./hacks";
@import "./navigation";

.field-description,
.tooltip {
  color: rgba($slate, 0.65);
}

.formio-error-wrapper,
.has-error {
  color: $red-3;

  .field-description,
  .tooltip {
    color: inherit !important;
  }

  input:not([type="button"]),
  textarea {
    border-color: $red-3 !important;
  }
}

label.field-required,
.required .label-required,
.formio-component-radio.required legend {
  &::after {
    display: inline-block;
    content: "*";
    color: $red-3;
  }
}

.formio-component {
  margin-bottom: spacer(3);
}

.formio-component-content,
.formio-component-htmlelement {
  margin-bottom: 0;
}

.formio-component-well .formio-component {
  margin-bottom: spacer(1);

  &:last-child {
    margin-bottom: 0;
  }
}


.alert.alert-success {
  display: none;
}