<div class="d-flex flex-justify-between" id="{{ ctx.wizardKey }}-nav">
  <div class="flex-auto">
    {% if (ctx.buttons.next) { %}
      <button class="btn mr-1" ref="{{ctx.wizardKey}}-next">
        <div class="d-flex flex-items-center">
          <span>{{ ctx.t(ctx.currentPage === 0 ? 'Get started' : 'Next') }}</span>
          <span data-icon="next" class="d-flex flex-items-center ml-1"></span>
        </div>
      </button>
    {% } %}
    {% if (ctx.buttons.submit) { %}
      <button class="btn mr-1" ref="{{ctx.wizardKey}}-submit">
        {{ ctx.t('Submit') }}
      </button>
    {% } %}
  </div>

  {% if (ctx.buttons.cancel) { %}
    <div class="flex-self-end" hidden>
      <button class="btn btn-link" ref="{{ctx.wizardKey}}-cancel">
        {{ ctx.t('Leave the form') }}
      </button>
    </div>
  {% } %}
</div>
