{% var button_classes = 'sfgov-button mt-0 btn-sm' %}
<div class="d-flex flex-justify-between" id="{{ ctx.wizardKey }}-nav">
  <div class="">
    {% if (ctx.buttons.previous) { %}
      <div class="mr-1">
        <button class="{{ button_classes }} sfgov-button-primary btn-prev" ref="{{ctx.wizardKey}}-previous">
          {{ ctx.t('previous') }}
        </button>
      </div>
    {% } %}
    {% if (ctx.buttons.next) { %}
      <div class="mr-1">
        <button class="{{ button_classes }} sfgov-button-primary btn-next" ref="{{ctx.wizardKey}}-next">
          {{ ctx.t('Next') }}
        </button>
      </div>
    {% } %}
    {% if (ctx.buttons.submit) { %}
      <div class="mr-1">
        <button class="{{ button_classes }} sfgov-button-primary" ref="{{ctx.wizardKey}}-submit">
          {{ ctx.t('submit') }}
        </button>
      </div>
    {% } %}
  </div>

  {% if (ctx.buttons.cancel) { %}
    <div class="flex-self-end">
      <button class="{{ button_classes }} bg-none fg-bright-blue border-none u" ref="{{ctx.wizardKey}}-cancel">
        {{ ctx.t('Leave the form') }}
      </button>
    </div>
  {% } %}
</div>
