{% const { properties = {} } = ctx.options %}
<nav role="navigation" aria-label="navigation" id="{{ ctx.wizardKey }}-header" class="fg-light-slate mb-4 mb-md-0 ml-md-4">

  <div data-toggle-container>
    <div aria-expanded="true" aria-controls="nav-content" id="nav-accordion" class="small d-md-none bg-dark-blue border-0 fg-white round-1">
      <div class="d-flex">
        <div class="flex-auto" style="width:100%">Sections</div>
        <div>
          <span class="d-block" data-icon="chevron"></span>
        </div>
      </div>
    </div>
    <div aria-labeledby="nav-accordion" id="nav-content" class="p-md-0">
      {% if (properties.backURL) { %}
        <a class="back-link fg-black fw-medium" href="{{ properties.backURL }}">
          {{ ctx.t(['form.backTitle', properties.backTitle || 'Back']) }}
        </a>
      {% } %}

      <ul class="nav-list mt-2 mb-0 mx-0 p-0">
        {% ctx.panels.forEach(function(panel, index) { %}
          {% if (panel.properties.hideFromNavigation !== "false") { %}
            {%
              const completed = index < ctx.currentPage
              const active = index === ctx.currentPage
              const enabled = active || completed || ctx.options.unlockNavigation
              const color = active || completed ? 'fg-slate' : 'fg-inherit'
              const style = active ? 'fw-medium no-u' : `fw-regular ${completed ? 'u' : 'no-u'}`
              const last = index === ctx.panels.length - 1
            %}
            <li class="mb-0 d-flex flex-items-start {{ last ? 'pb-2' : '' }}" style="padding-bottom: 30px"
              {% if (active) { %} 
                data-current
              {% } %} 
              {% if (completed) { %} 
                data-complete 
              {% } %}
            >
              
              {% if (completed) { %}
                <span class="bg-green-3 round-round fg-white flex-no-shrink" style="margin: 6px -5px 0 -9px;width: 20px;height: 20px;" data-icon="check" data-width="10"></span>
              {% } else { %}
                <span class="{{ active ? color : 'fg-grey-4' }}  flex-no-shrink" style="margin: 2px 0 0 -.25em" data-icon="square" data-width="10"></span>
              {% } %}
              <button
                class="btn-link flex-auto align-left m-0 pl-2 py-0 {{ color }} {{ style }}"
                {% if (active) { %}
                  aria-current="page"
                  style="cursor:default"
                {% } %}
                {% if (enabled) { %}
                  ref="{{ ctx.wizardKey }}-link"
                {% } else { %}
                  disabled
                  style="cursor:default"
                {% } %}>
                {{
                  ctx.t([
                    `${panel.key}.displayTitle`,
                    `${panel.key}.title`,
                    panel.properties.displayTitle || panel.title
                  ])
                }}
              </button>
            </li>
          {%
            } else {
              // if we don't render something, the nav indexes are wrong and nav clicks go to the wrong place
          %}
            <li ref="{{ ctx.wizardKey }}-link" hidden></li>
          {% } %}

        {% }) %}
      </ul>
    </div>
  </div>
</nav>
