{% const { properties = {} } = ctx.options %}
<nav role="navigation" aria-label="navigation" id="{{ ctx.wizardKey }}-header" class="fg-light-slate mb-4 mb-md-0">

  <details open>
    <summary class="small d-md-none bg-dark-blue border-0 fg-white">
      Sections
      <span data-icon="chevron"></span>
    </summary>
    <div class="p-md-0">
      {% if (properties.backURL) { %}
        <a class="back-link fg-black fw-medium" href="{{ properties.backURL }}">
          {{ ctx.t(['form.backTitle', properties.backTitle || 'Back']) }}
        </a>
      {% } %}

      <ul class="nav-list mt-2 mb-0 mx-0 p-0">
        {% ctx.panels.forEach(function(panel, index) { %}
          {% if (panel.properties.hideFromNavigation !== "false") { %}
            {%
              const completed = index < ctx.currentPage
              const active = index === ctx.currentPage
              const enabled = active || completed || ctx.options.unlockNavigation
              const color = active || completed ? 'fg-slate' : 'fg-inherit'
              const style = active ? 'fw-medium no-u' : `fw-regular ${completed ? 'u' : 'no-u'}`
            %}
            <li class="mb-md-1 d-flex flex-items-start pb-md-0"
              {% if (active) { %} 
                data-current
              {% } %} 
              {% if (completed) { %} 
                data-complete 
              {% } %}
            >
              {% if (completed) { %}
                <span class="bg-green-3 round-round fg-white" data-icon="check"></span>
              {% } else { %}
                <span class="{{ active ? color : 'fg-none' }}" data-icon="square"></span>
              {% } %}
              <button
                class="btn-link flex-auto align-left m-0 pl-2 pl-md-1 py-0 {{ color }} {{ style }}"
                {% if (active) { %}
                  aria-current="page"
                {% } %}
                {% if (enabled) { %}
                  ref="{{ ctx.wizardKey }}-link"
                {% } else { %}
                  disabled
                {% } %}>
                {{
                  ctx.t([
                    `${panel.key}.displayTitle`,
                    `${panel.key}.title`,
                    panel.properties.displayTitle || panel.title
                  ])
                }}
              </button>
            </li>
          {%
            } else {
              // if we don't render something, the nav indexes are wrong and nav clicks go to the wrong place
          %}
            <li ref="{{ ctx.wizardKey }}-link" hidden></li>
          {% } %}

        {% }) %}
      </ul>
    </div>
  </details>
</nav>
