<div class="multi-value-table mb-3">
  {{ ctx.rows }}
  {% if (!ctx.disabled) { %}
    <button class="py-1 border-0 bg-slate" ref="addButton">
      <span data-icon="add" class="mr-1"></span> {{ ctx.t(ctx.addAnother) }}
    </button>
  {% } %}
</div>
