<option
  value="{{ ctx.useId ? ctx.id : ctx.option.value }}"
  {% if (ctx.selected) { %} selected {% } %}
  {% for (const attr in ctx.attrs) { %}
    {{ attr }}="{{ ctx.attrs[attr] }}"
  {% } %}
>
  {{ ctx.t([`${ctx.component.key}.values.${ctx.option.value}`, ctx.option.label]) }}
</option>
