<div
  id="{{ ctx.id }}"
  class="{{ ctx.classes || (ctx.visible && ctx.component.type === 'well' ? 'formio-component formio-component-well' : '') }}"
  {% if (ctx.styles) { %} style="{{ ctx.styles }}"{% } %}
  ref="component"
>
  {% if (ctx.visible) { %}
    {{ ctx.children }}
    <div class="messages" ref="messageContainer"></div>
  {% } %}
</div>
