<div
  id="{{ ctx.id }}"
  class="{{ ctx.classes }}"
  {% if (ctx.styles) { %} style="{{ ctx.styles }}"{% } %}
  ref="component"
>
  {% if (ctx.visible) { %}
    {{ ctx.children }}
    <div class="messages" ref="messageContainer"></div>
  {% } %}

  {% if (ctx.options.translate && ['panel', 'content', 'htmlelement'].indexOf(ctx.component.type) === -1) { %}
    {% const validateCustom = ctx.tk('validate.custom', ctx.component.validate.custom) %}
    {% if (validateCustom) { %}
      <div class="fg-red-4 mt-2">
        <b>Custom validation message:</b> {{ validateCustom }}
      </div>
    {% } %}

    {% const customError = ctx.tk('customError') %}
    {% if (customError) { %}
      <div class="fg-red-4">
        <b>Custom error message:</b> {{ customError }}
      </div>
    {% } %}
  {% } %}
</div>
