<fieldset class="bg-blue-1 round-1">
  <div class="p-2">
    <legend class="f-3">
      {{ ctx.tk('label') }}
    </legend>

    {% const desc = ctx.tk('description') %}
    {% if (desc) { %}
      <div class="f-2 mb-2">{{ desc }}</div>
    {% } %}

    <div ref="{{ ctx.nestedKey }}">
      {{ ctx.children }}
    </div>
  </div>
</fieldset>
