<div class="formio-component formio-component-address formio-nested round-1 bg-blue-1 p-2">
  <fieldset>
    <legend>
      {{ ctx.t([`${ctx.component.key}_label`, ctx.component.label]) }}
    </legend>

    {% const desc = ctx.t([`${ctx.component.key}_description`, ctx.component.description]) %}
    {% if (desc) { %}
      <div class="mb-1">{{ desc }}</div>
    {% } %}

    <div ref="{{ ctx.nestedKey }}">
      {{ ctx.children }}
    </div>
  </fieldset>
</div>
