<div class="formio-component formio-component-address round-1 bg-blue-1 p-2">
  <fieldset>
    <legend>
      {{ ctx.tk('label') }}
    </legend>

    {% const desc = ctx.tk('description') %}
    {% if (desc) { %}
      <div class="mb-1">{{ desc }}</div>
    {% } %}

    <div ref="{{ ctx.nestedKey }}">
      {{ ctx.children }}
    </div>
  </fieldset>
</div>
