{{ctx.element}}
<div class="round-1 bg-grey-2 mb-2"
  style="
    width: {{ctx.component.width}};
    height: {{ctx.component.height}};
  "
  tabindex="{{ctx.component.tabindex || 0}}" ref="padBody">
  <canvas class="signature-pad-canvas" width="{{ctx.component.width}}" height="{{ctx.component.height}}"
    ref="canvas"></canvas>
  <!--
    {% if (ctx.required) { %}
    <span class="form-control-feedback field-required-inline text-danger">
      <i class="{{ctx.iconClass('asterisk')}}"></i>
    </span>
    {% } %}
  -->
  <img style="width: 100%; display: none;" ref="signatureImage">
</div>
{% if (ctx.component.footer) { %}
<div class="d-flex flex-justify-between">
  <button class="btn bg-slate" ref="refresh">{{ ctx.t('Clear') }}</button>
  {{ctx.t(ctx.component.footer)}}
</div>
{% } %}
