{{ctx.element}}
<div class="round-1 bg-grey-2 mb-2 position-relative"
  style="
    width: {{ctx.component.width}};
    height: {{ctx.component.height}};
  "
  tabindex="{{ctx.component.tabindex || 0}}" ref="padBody">
  <canvas
    width="{{ctx.component.width}}"
    height="{{ctx.component.height}}"
    ref="canvas"></canvas>
  {% if (ctx.component.footer) { %}
    <div
      class="position-absolute px-3"
      style="pointer-events: none; bottom: 0; left: 0; width: 100%;">
      <div class="align-center py-1 border-top-1 border-slate">
        {{ ctx.t(ctx.component.footer) }}
      </div>
    </div>
  {% } %}
  <img style="width: 100%; display: none;" ref="signatureImage">
</div>
<div>
  <button class="btn bg-slate" ref="refresh">{{ ctx.t('Clear') }}</button>
</div>
