<!doctype html>
<html>
  <head>
    <title>formio-sfds</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/dist/common.css">
  </head>
  <body>
    <div class="page-node-type-form-page">
      <div class="form-page formio-sfds">
        <div class="px-2">
          <h1><code>formio-sfds@{{ pkg.version }}</code></h1>

          <div class="d-flex flex-column flex-md-row">

            <div class="pr-md-4 position-relative">

              <h2 class="h2 mt-2">Examples</h1>

              <div style="position: sticky; top: 0;">
                <ul id="example-links" class="list-style-none">
                  {% for ex in examples %}
                    <li>
                      <a href="#form-{{ ex.id }}" class="d-block py-1">
                        {{ ex.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>

            <div class="mt-2 pt-1">
              {% for ex in examples %}
                <section id="{{ ex.id }}" class="example">
                  <h2 class="h3">
                    <a href="#{{ ex.id }}" class="fg-grey-4 no-u">#</a>
                    {{ ex.title }}
                    <a href="/examples/{{ ex.id }}" class="no-u">↗️</a>
                  </h2>

                  <div class="d-flex flex-items-start">
                    <sfgov-form
                      id="form-{{ ex.id }}"
                      class="col-4 flex-auto mr-2"
                      data-form="{{ ex.form | dump }}"
                      data-options="{{ ex.options | dump }}">
                    </sfgov-form>

                    <div>
                      <label class="fg-grey-4">
                        Submission data:
                      </label>

                      <sfgov-form-data data-form-id="form-{{ ex.id }}">
                        <textarea
                          class="border-grey-4"
                          style="width: 100%; resize: vertical;">
                        </textarea>
                      </sfgov-form-data>
                    </div>
                  </div>
                </section>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/formiojs@{{ pkg.dependencies.formiojs }}/dist/formio.full.js"></script>
    <script src="/dist/formio-sfds.standalone.js"></script>
    <script src="/dist/examples.js"></script>
  </body>
</html>
