{%
  const prefix = ctx.t([
    `${ctx.component.key}.prefix`,
    `${ctx.component.key}_prefix`,
    ctx.prefix instanceof HTMLElement ? ctx.prefix.outerHTML : ctx.prefix
  ])
  const suffix = ctx.t([
    `${ctx.component.key}.suffix`,
    `${ctx.component.key}_suffix`,
    ctx.suffix instanceof HTMLElement ? ctx.suffix.outerHTML : ctx.suffix
  ])
%}
{% if (prefix || suffix) { %}
  <div class="input-group">
{% } %}

{% if (prefix) { %}
  <div class="input-group-prepend" ref="prefix">
    <span class="input-group-text">
      {{ prefix }}
    </span>
  </div>
{% } %}

<div class="form-input">
  <{{ ctx.input.type }}
    ref="{{ ctx.input.ref || 'input' }}"
    id="{{ ctx.inputId() }}"
    {{ ctx.requiredAttributes() }}
    {% for (const attr in ctx.input.attr) { %}
      {{ attr }}="{{ ctx.input.attr[attr] }}"
    {% } %}
  >{{ ctx.input.content }}</{{ ctx.input.type }}>
</div>

{% if (ctx.component.showCharCount) { %}
  <span class="text-muted pull-right" ref="charcount"></span>
{% } %}

{% if (ctx.component.showWordCount) { %}
  <span class="text-muted pull-right" ref="wordcount"></span>
{% } %}

{% if (suffix) { %}
  <div class="input-group-append" ref="suffix">
    <span class="input-group-text">
      {{ suffix }}
    </span>
  </div>
{% } %}

{% if (prefix || suffix) { %}
  </div>
{% } %}
