{%
  let prefix = ctx.t(ctx.component.prefix) || ctx.prefix
  if (prefix instanceof HTMLElement) prefix = prefix.outerHTML
  let suffix = ctx.t(ctx.component.suffix) || ctx.suffix
  if (suffix instanceof HTMLElement) suffix = suffix.outerHTML
%}
{% if (prefix || suffix) { %}
  <div class="input-group">
{% } %}

{% if (prefix) { %}
  <div class="input-group-prepend" ref="prefix">
    <span class="input-group-text">
      {{ prefix }}
    </span>
  </div>
{% } %}

<div class="form-input">
  <{{ ctx.input.type }}
    ref="{{ ctx.input.ref || 'input' }}"
    id="{{ ctx.inputId() }}"
    {{ ctx.requiredAttributes() }}
    {% for (const attr in ctx.input.attr) { %}
      {{ attr }}="{{ ctx.input.attr[attr] }}"
    {% } %}
  >{{ ctx.input.content }}</{{ ctx.input.type }}>
</div>

{% if (ctx.component.showCharCount) { %}
  <span class="text-muted pull-right" ref="charcount"></span>
{% } %}

{% if (ctx.component.showWordCount) { %}
  <span class="text-muted pull-right" ref="wordcount"></span>
{% } %}

{% if (suffix) { %}
  <div class="input-group-append" ref="suffix">
    <span class="input-group-text">
      {{ suffix }}
    </span>
  </div>
{% } %}

{% if (prefix || suffix) { %}
  </div>
{% } %}
