<div class="{{ ctx.className }}">
  <div class="d-flex flex-column flex-md-row-reverse flex-justify-between">
    <div class="col-md-2">
      {{ ctx.wizardHeader }}
    </div>
    <div class="col-md-3" ref="{{ ctx.wizardKey }}">
      <div id="components" class="mb-3">
        {{ ctx.components }}
      </div>
      {{ ctx.wizardNav }}
    </div>
  </div>
</div>
