<div class="{{ctx.className}}">
  <div class="d-flex flex-wrap flex-md-row-reverse">
    <div class="col-6 col-md-2 pl-md-2">
      {{ ctx.wizardHeader }}
    </div>
    <div class="col-6 col-md-4" ref="{{ ctx.wizardKey }}">
      <div id="components" class="mb-3">
        {{ ctx.components }}
      </div>
      {{ ctx.wizardNav }}
    </div>
  </div>
</div>
