<div class="form-checkbox">
  <label class="d-flex flex-items-center fs-inherit fg-inherit">
    <span class="flex-shrink-0 flex-self-start">
      <{{ ctx.input.type }}
        {{ ctx.attrs({
          ref: 'input',
          value: ctx.value,
          checked: ctx.checked,
          ...ctx.input.attr,
          class: `${ctx.input.attr.class || ''} input-checkbox position-relative d-block mr-2 mb-0`,
        }) }}
      >
    </span>
    <span class="flex-auto">
      <span class="label-required">
        {{ ctx.tk('label') }}
      </span>
      {% const desc = ctx.tk('description') %}
      {% if (desc) { %}
        <span class="d-block fg-light-slate">{{ desc }}</span>
      {% } %}
    </span>
  </label>
</div>
