<div class="form-checkbox mt-3 mb-3">
  <label class="d-flex flex-items-center fs-inherit fg-inherit">
    <div class="flex-shrink-0 flex-self-start">
      <{{ ctx.input.type }}
        class="input-checkbox position-relative d-block mr-2 mb-0"
        ref="input"
        {% for (var attr in ctx.input.attr) { %}
          {{attr}}="{{ctx.input.attr[attr]}}"
        {% } %}
        value="{{ ctx.value }}"
        {% if (ctx.input.checked) { %}checked{% } %}
      >
    </div>
    <div class="flex-auto">
      <span class="label-required">
        {{ ctx.t(ctx.input.label) }}
      </span>
      {% var tooltip = ctx.component.tooltip %}
      {% if (tooltip) { %}
        <div class="tooltip small mt-1">{{ ctx.t(tooltip) }}</div>
      {% } %}
    </div>
  </label>
</div>
