<section id="panel-{{ ctx.component.key }}" class="border-1 border-grey-2 p-2 round-1 mb-4">
  <h1 class="d1 mt-0 mb-4">
    {{ ctx.tk('title') }}
  </h1>
  {% if (!ctx.collapsed || ctx.builder) { %}
    {{ctx.children}}
  {% } %}
</section>
