<section id="panel-{{ ctx.component.key }}" class="border-1 border-grey-2 p-2 round-1 mb-4">
  {% if (ctx.options.translate) { %}
    {% const displayTitle = ctx.t(ctx.component.properties.displayTitle) %}
    {% if (displayTitle) { %}
      <h2 class="h5 m-0">
        <b class="fg-light-slate">Link title:</b>
        {{ displayTitle }}
      </h2>
    {% } %}
  {% } %}
  <h1 class="d1 mt-0 mb-4">
    {{ ctx.t(ctx.component.title) }}
  </h1>
  {% if (!ctx.collapsed || ctx.builder) { %}
    {{ ctx.children }}
  {% } %}
</section>
