.input-checkbox {
  appearance: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 2px solid $slate !important;
  border-radius: radius(1) !important;
  opacity: 1 !important;
  background-position: center center;
  background-repeat: no-repeat;

  &:checked {
    border-width: border-width(1) !important;
    background-image: svg-load('../icons/Check.svg', fill=$slate);
  }

  &:focus {
    border-color: $bright-blue !important;
  }

  &:checked:focus {
    background-color: $bright-blue !important;
    background-image: svg-load('../icons/Check.svg', fill=$white);
  }
}

// OOOF this is a hack FIXME FIXME
.form-checkbox ~ [ref=messageContainer]:not(:empty) {
  margin-top: -1 * spacer(2) !important;
}

.field-description,
.tooltip {
  color: rgba($slate, 0.65);
}

.formio-error-wrapper,
.has-error {
  color: $red-3;

  .field-description,
  .tooltip {
    color: inherit !important;
  }

  input:not([type=button]),
  textarea {
    border-color: $red-3 !important;
  }
}

label.field-required,
.required .label-required {
  &::after {
    display: inline-block;
    content: "*";
    color: $red-3;
  }
}

// XXX there is no hook for this; it's in the JS
.control-label--hidden {
  display: none;
}

// spacing tweaks AHOY
.formio-component-address,
.formio-component-email,
.formio-component-number,
.formio-component-radio,
.formio-component-textfield {
  margin-bottom: spacer(3);
}

[ref=element],
.address-autocomplete-container {
  input:not([type=button]),
  textarea {
    margin-bottom: spacer(1);
  }
}
