.input-checkbox {
  $checkbox-size: spacer(3);

  appearance: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: $checkbox-size !important;
  // the !important is necessary here because sf.gov's CSS sets
  // `height: auto` with a higher specificity
  height: $checkbox-size !important;

  // FIXME: 2px is a magic number here
  border: 2px solid $slate !important;
  border-radius: radius(1) !important;

  // This overrides sf-design-system's CSS that hides the input
  // and renders the checkbox with `::before { content }`
  opacity: 1 !important;
  background-position: center center;
  background-repeat: no-repeat;

  &:checked {
    border-width: border-width(1) !important;
    background-image: svg-load('../icons/Check.svg', fill=$slate);
  }

  &:focus {
    border-color: $bright-blue !important;
  }

  &:checked:focus {
    background-color: $bright-blue !important;
    background-image: svg-load('../icons/Check.svg', fill=$white);
  }
}

.input-radio {
  $radio-size: 44px;
  $dot-inset: 8px;

  appearance: none;
  border-radius: 50%;
  border: 2px solid $slate;
  box-shadow: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  position: relative;
  width: $radio-size;
  height: $radio-size;

  &:checked {
    &::after {
      $dot-size: calc(100% - #{$dot-inset * 2});

      content: "";
      position: absolute;
      top: $dot-inset;
      left: $dot-inset;
      width: $dot-size;
      height: $dot-size;
      background: $bright-blue;
      border-radius: 50%;
    }
  }

  &:focus {
    border-color: $bright-blue;
  }
}

/**
 * FIXME FIXME
 *
 * These awful hacks are due to not having access to the error
 * state in component templates. If we can get that, we can vary
 * the margins of these elements there.
 */
.formio-error-wrapper .form-checkbox .messages {
  margin-top: -1 * spacer(2) !important;
}

.formio-component-multiple.formio-error-wrapper > .messages {
  margin-top: -1 * spacer(3) !important;
}

.field-description,
.tooltip {
  color: rgba($slate, 0.65);
}

.formio-error-wrapper,
.has-error {
  color: $red-3;

  .field-description,
  .tooltip {
    color: inherit !important;
  }

  input:not([type=button]),
  textarea {
    border-color: $red-3 !important;
  }
}

label.field-required,
.required .label-required,
.formio-component-radio.required legend {
  &::after {
    display: inline-block;
    content: "*";
    color: $red-3;
  }
}

// XXX there is no hook for this; it's in the JS
.control-label--hidden {
  display: none;
}

// spacing tweaks AHOY
.formio-component-address,
.formio-component-email,
.formio-component-file,
.formio-component-number,
.formio-component-radio,
.formio-component-select,
.formio-component-selectboxes,
.formio-component-textfield,
.formio-component-well {
  margin-bottom: spacer(3);

  .formio-component-well & {
    margin-bottom: spacer(1);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.formio-component-address {
  .formio-component {
    // label { @include small-text; }
  }

  .formio-component-textfield {
    margin-bottom: 0;
    padding-bottom: spacer(2);
  }
}

.fileSelector {
  border: border-width(1) dashed $grey-3;
  padding: spacer(2);

  &.fileDragOver {
    background-color: $blue-1;
    border-color: $grey-4;
  }
}
