.btn-next {
  padding-right: 3rem;
  background-image: icon('<path d="M19.635 7.11493L13.27 0.749927C13.0314 0.549987 12.7268 0.446269 12.4158 0.459065C12.1047 0.471862 11.8097 0.600253 11.5883 0.819118C11.3669 1.03798 11.2352 1.33157 11.2189 1.64243C11.2025 1.9533 11.3028 2.25907 11.5 2.49993L15.73 6.72993H1.25C0.918479 6.72993 0.600537 6.86162 0.366117 7.09604C0.131696 7.33046 0 7.64841 0 7.97993C0 8.31145 0.131696 8.62939 0.366117 8.86381C0.600537 9.09823 0.918479 9.22993 1.25 9.22993H15.75L11.5 13.4999C11.2653 13.7346 11.1334 14.053 11.1334 14.3849C11.1334 14.7169 11.2653 15.0352 11.5 15.2699C11.7347 15.5046 12.0531 15.6365 12.385 15.6365C12.7169 15.6365 13.0353 15.5046 13.27 15.2699L19.635 8.88493C19.8689 8.64977 20.0002 8.33159 20.0002 7.99993C20.0002 7.66826 19.8689 7.35009 19.635 7.11493Z" />', white);
  background-position: right 1rem top 50%;
  background-repeat: no-repeat;
}

.btn-prev {
  padding-left: 3rem;
  background-image: icon('<path d="M0.36468 8.88493L6.72968 15.2499C6.83992 15.3846 6.97705 15.4947 7.13229 15.5733C7.28754 15.6519 7.45749 15.6972 7.63125 15.7063C7.80501 15.7154 7.97877 15.6882 8.14139 15.6263C8.30402 15.5644 8.45193 15.4692 8.57567 15.3469C8.69941 15.2246 8.79624 15.0777 8.85997 14.9158C8.9237 14.7539 8.95292 14.5805 8.94577 14.4066C8.93861 14.2328 8.89524 14.0623 8.81843 13.9062C8.74161 13.7501 8.63305 13.6117 8.49968 13.4999L4.26968 9.24993H18.7697C19.1012 9.24993 19.4191 9.11823 19.6536 8.88381C19.888 8.64939 20.0197 8.33145 20.0197 7.99993C20.0197 7.66841 19.888 7.35046 19.6536 7.11604C19.4191 6.88162 19.1012 6.74993 18.7697 6.74993H4.26968L8.49968 2.49993C8.6969 2.25907 8.79715 1.9533 8.78082 1.64243C8.76449 1.33157 8.63275 1.03798 8.41138 0.819118C8.19002 0.600253 7.89495 0.471862 7.58392 0.459065C7.27289 0.446269 6.96828 0.549987 6.72968 0.749927L0.36468 7.11493C0.130798 7.35009 -0.000488281 7.66826 -0.000488281 7.99993C-0.000488281 8.33159 0.130798 8.64977 0.36468 8.88493Z" />', white);
  background-position: left 1rem top 50%;
  background-repeat: no-repeat;
}

.input-checkbox {
  appearance: none;
  padding: 0;
  margin: 0;
}
