<fieldset class="formio-nested">
  {% const desc = ctx.tk('description') %}
  <legend ref="header" class="{{ desc ? '' : 'mb-2' }}">
    {{ ctx.tk('legend') }}
  </legend>

  {% if (desc) { %}
    <div class="mb-2">{{ desc }}</div>
  {% } %}

  <div ref="{{ ctx.nestedKey }}">
    {{ ctx.children }}
  </div>
</fieldset>
