<fieldset>
  {% if (ctx.component.legend) { %}
    <legend ref="header" class="{{ctx.component.collapsible ? 'formio-clickable' : ''}}">
      {{ ctx.t(ctx.component.legend) }}
    </legend>
  {% } %}
  {% if (!ctx.collapsed) { %}
    <div ref="{{ ctx.nestedKey }}">
      {{ ctx.children }}
    </div>
  {% } %}
</fieldset>
