<fieldset class="bg-blue-1 round-1">
  <div class="p-2">
    <legend class="f-3" ref="header">
      {{ ctx.tk('legend') }}
    </legend>

    {% const desc = ctx.tk('description') %}
    {% if (desc) { %}
      <div class="fg-light-slate mb-1">{{ desc }}</div>
    {% } %}

    <div ref="{{ctx.nestedKey}}">
      {{ctx.children}}
    </div>
  </div>
</fieldset>
