<div class="form-group mt-2">
  <fieldset>
    {% if (!ctx.component.hideLabel && ctx.component.type !== 'selectboxes') { %}
    <legend>{{ ctx.t(ctx.component.label) }}</legend>
    {% } %}
    <div class="field-wrapper bg-blue-1 round-1">
      {% ctx.values.forEach(function(item) { %}
      <label class="d-flex flex-items-center fs-inherit my-2">
        <div class="flex-shrink-0">
          <{{ctx.input.type}} class="input-{{ ctx.input.attr.type }} position-relative d-block mr-2 mb-0" ref="input"
            {% for (var attr in ctx.input.attr) { %} {{attr}}="{{ctx.input.attr[attr]}}" {% } %} value="{{item.value}}"
            {% if (ctx.value && (ctx.value === item.value || (typeof ctx.value === 'object' && ctx.value.hasOwnProperty(item.value) && ctx.value[item.value]))) { %}
            checked=true {% } %} {% if (item.disabled) { %} disabled=true {% } %}
            id="{{ctx.id}}{{ctx.row}}-{{item.value}}">
        </div>
        <span class="flex-auto">
          {{ ctx.t(item.label) }}
        </span>
      </label>
      {% }) %}
    </div>
    <div class="help-block with-errors"></div>
  </fieldset>
</div>